# Directory node_modules generata da npm
node_modules/

# File di log
npm-debug.log

# File di log per Yarn
yarn-debug.log
yarn-error.log

# File .env con variabili d'ambiente locali
.env

# File generati durante la build
/build

# File generati durante i test
*.log

# File .DS_Store generati da macOS
.DS_Store